@{
    ViewData["Title"] = "Claim Status";
}

<h2>Track Claim Status</h2>
<ul class="list-group">
    <li class="list-group-item">Claim #001 - Approved :) </li>
    <li class="list-group-item">Claim #002 - Pending  :| </li>
    <li class="list-group-item">Claim #003 - Rejected :( </li>
</ul>