@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the CMCSApp</h1>
    <p class="lead">Choose an action below to begin:</p>

    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a href="/Home/LecturerClaim" class="btn btn-primary btn-lg">Submit Lecturer Claim</a>
        <a href="/Home/CoordinatorApproval" class="btn btn-success btn-lg">Verify & Approve Claims</a>
        <a href="/Home/ClaimStatus" class="btn btn-info btn-lg">Track Claim Status</a>
    </div>
</div>